/*
 * Globals
 */

 @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://gm4.co/includes/fonts/raleway-v22-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://gm4.co/includes/fonts/raleway-v22-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-200.woff') format('woff'), /* Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-regular - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://gm4.co/includes/fonts/raleway-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://gm4.co/includes/fonts/raleway-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://gm4.co/includes/fonts/raleway-v22-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }

html, body {

    overflow-x: hidden;

}

 body {
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    color: #555;
    position: relative
    
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}






/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
   
}


img {
    margin-top: 0;
    width: 90%;

}



/*
 * Masthead for nav
 */
.blog-masthead{
    padding-bottom:10px;


}
/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: black;
    padding: 2px;
    font-size: 15px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #777575;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color:#454545;;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}



/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    vertical-align: middle
}

.blog-description {
    font-size: 20px;
    color: #999;
    font-weight:300;
}

.nav-container {
margin-right: -30;


}


.blog-header-image {
 order:0;
 max-width: 10%;
 max-height:auto;
 margin: 10px;
 display:block;
 float:left;

}

.blog-title {
    font-size: 60px;
    font-weight: normal;
    order: 10;
    float:left
  
}

.header-flex {
    display:flex;
    align-items:center;
    justify-content:start;
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 10px;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-top: 2px;
}

#upper-bar{
    border-top: 1px solid #bbb;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 25px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 20px;
    position:relative;
}
.blog-post-meta {
    margin-bottom: 10px;
    color: #999;
    font-size:15px;
}

.blog-article-excerpt {
    font-size: 18px;

}
 
.code {
    display: block;
    overflow-x: auto;
}

/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-tags-container, .blog-categories-container {
    margin-top: 30px;
    font-size: 20px;
}
.blog-tags-container span.glyphicon, .blog-categories-container span.glyphicon {
    margin-right: 20px;
}

.blog-post-title-archive {
    margin-bottom: 5px;
    font-size: 25px;
}


p.footer-small {
    font-size: 0.7em;
  }


/*  
 Logic for hiding parts based on screen size
*/

@media only screen and (max-width: 950px)  {
    .sidebar-module {
        display:none;

    }

    .blog-title {
        font-size: 35px;
        position:relative;
        padding-top:15px;
        text-align:center;

    }
    .blog-header {

        vertical-align: middle
    }
}
