
<div class="blog-header">
    <div class="header-flex">
    <a href=<%- config.root%> style="text-decoration: none; color:#000000">
    <img class="blog-header-image" src="https://gm4.co/images/logo/logo_clear.svg" alt="Gamemode 4 Logo"/>
    <p class="blog-title"> <%= config.title %></p>
    </a>
    </div>
    <h2 class="blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>