
<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Gamemode 4 is a collection of datapacks designed to <i>enhance</i> the vanilla Minecraft experience.</p>
    <p>Founded by Sparks, the project is now proudly Open Source with many contributors. </p>
    <h4>What is this place?</h4>
    <p>Here, you will find updates, discussions and notes from throughout the various parts of the Gamemode 4 Project.</p>

</div>
<div class="sidebar-module">
    <% if (site.posts.length){ %>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <%- list_archives({show_count: theme.show_count, type: "yearly", class: 'sidebar-module'}) %>
        </div>
    <% } %>
</div>